* {
    box-sizing: border-box;
}

body,html {

    margin: 0 auto;
    height: 100%;
    margin: 0;

    background-image: url("https://opengameart.org/sites/default/files/Starry%20night%20Image.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.field {
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif

}

.field:hover {
    transform: rotate(15deg) scale(1.1);
}

.field:active {
    transform: scale(0.9);
    opacity: 0.5;
}

.field.active {
    transform: scale(0.9);
    opacity: 0.5;
}

.red {
    background: rgb(192, 57, 43);
}

.blue {
    background: rgb(42, 128, 185);
}

.yellow {
    background: rgb(241, 196, 15);
}

.green {
    background: rgb(46, 204, 113);
}

.bar {
    min-width: 120px;
    font-weight: bold;
    background: rgb(236, 240, 241);
    border-radius: 2px;
    color: rgb(52, 73, 94);
    line-height: 30px;
    text-align: center;
    border: 0;
    transition: 0.3s;

}


button {
    min-width: 120px;
    font-weight: bold;
    background: rgb(236, 240, 241);
    border-radius: 2px;
    color: rgb(52, 73, 94);
    line-height: 30px;
    text-align: center;
    border: 0;
    transition: 0.3s;
}

button:active, button:disabled {
    background: rgb(189, 195, 199);
}


footer {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    color: rgb(236, 240, 241);
    margin-top: 25px;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(236, 240, 241);
}

.buttons {
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: center;
}

button.red {
    background: rgb(192, 57, 43);
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;

}
